@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
margin:0;
padding:0;
font-size:16rem;
font-weight:400;
color:#000000;
font-style:normal;
text-decoration:none;
box-sizing:border-box;
font-family:"Poppins", sans-serif;
}
html{
font-size:1px;
}
body{
padding:0 20px;
background-size:contain;
background-image:url('images/bg.png');
}
.section{
display:flex;
align-items:center;
justify-content:center;
}
.container{
display:flex;
align-items:center;
flex-direction:column;
}
.section img{
width:220px;
margin:30px 0 10px 0;
}
.section h1{
font-size:20rem;
color:#ffffff;
text-align:center;
margin:0 0 25px 0;
text-wrap:balance;
}
.info{
display:flex;
flex-direction:column;
}
details{
width:380px;
padding:0 20px;
border-radius:5px;
background:#ffffff;
}
i{
margin: 0 15px 0 0;
}
a.white{
width:380px;
padding:15px;
margin:0 0 20px 0;
border-radius:5px;
background:#ffffff;
}
a.white{
cursor:pointer;
font-size:16rem;
font-weight:bold;
}
summary{
cursor:pointer;
font-size:16rem;
padding:15px 0px;
font-weight:bold;
}
details p{
font-size:16rem;
font-weight:bold;
margin:0 0 15px 0;
}
details ul{
padding:0 0 20px 20px;
}
li,
li span{
font-size:14rem;
}
li span{
font-weight:bold;
}
p.footer{
margin:30px 0;
color:#ffffff;
text-align:center;
}